# ======================================================
# Common / Environment
# ======================================================
.DS_Store
*.log
.env
.env.*
!.env.example

# Docker / IDE / Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ======================================================
# Backend (Spring Boot / Java / Gradle / Maven)
# ======================================================
backend/HELP.md
backend/.gradle
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/**/src/main/**/build/
!backend/**/src/test/**/build/

# env files (can opt-in for committing if needed)
backend/.env*

### STS ###
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/bin/
!backend/**/src/main/**/bin/
!backend/**/src/test/**/bin/

### IntelliJ IDEA ###
backend/.idea
backend/*.iws
backend/*.iml
backend/*.ipr
backend/out/
!backend/**/src/main/**/out/
!backend/**/src/test/**/out/

### NetBeans ###
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/

### VS Code ###
backend/.vscode/


# ======================================================
# Frontend (Next.js / Node)
# ======================================================
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
